# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CupidIntern_LoveActuallyCreativeProject.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityRepo\CupidIntern_LoveActuallyCreativeProject\.idea\.idea.CupidIntern_LoveActuallyCreativeProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
